#header{ 
    color : blue;
    font-size : 24px;
    text-align : center;
    text-transform: uppercase;
    text-decoration : blue underline;
    font-weight : bold;
    
}
#myPara {
    color: rgb(136, 43, 62);
    font-size: 18px;
    margin: 20px;
    background-color: bisque;
    text-align: center;
} 

button {
    background-color: rgb(179, 136, 56);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
a {
    text-decoration: none;
}